*{
    font-family: 'Verdana';
}

nav{
    font-size: 22px;
    background: #F5A9A9;
    font-weight: bold;
    text-align: center;
}

li{
    height: 100px;
    font-size: 18px;
    text-align: center;
    color: #0B3861;
    background-color: #EBEBEB;
}

.menuicons{
    background: transparent;
    margin-right: 6px;
}