@import url('https://fonts.googleapis.com/css?family=Ubuntu');

*{
    font-family: 'Ubuntu', sans-serif;
}

h2 {
    width: 100%;
    text-align: center;
}

a {
    font-size: 20px;
}

img {
    padding: 20px;
}

.nav img{
    width: 90px;
}

.logo img{
    border-radius: 40px;
    width: 200px;
    height: 200px;
}

.stadium{
    width: 100%;
    margin: 0;
    padding: 0;
}

.team{
    width: 100%;
}

.teamLogo{
    width: 40%;
    margin: auto;
}

.logo{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
}

.buttons{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.btn{
    margin: 10px;
    width: 120px;
}

.btn>a{
    color: white;    
}

html{
    height: 100vh;
}

.items, .items>li>ul{
    padding: 0;
    list-style: none; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.items>li{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 5px;
    background-color: #f8fff8;
    margin: 2px;
}

.details, .details>li>ul{
    padding: 0;
    list-style: none; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.details>li{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 5px;
    background-color: #f8fff8;
    margin: 2px;
}

.items img{
    width: 100px;
    height: 100px;
}

.nav>li{
    /*height: 100px;
    background: linear-gradient(#3389ff, #e4f6ff);*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;    
}

.navbar-default .navbar-nav>li>a {
    color: black;
    font-size: 16px;
}

iframe{
    margin-top: 30px;
    width: 100%;
    height: 400px;
}

.containerLogo{
    width: 100vw;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.splashLogo{
    margin-bottom: 50px;
}
